In [1]:
import random
import pandas as pd

In [2]:
cities = {
    "Villach": 1,
    "Klagenfurt": 2,
    "Spittal": 3,
    "Feldkirchen": 4,
    "Wolfsberg": 5
}
n_measurements = 1000

In [3]:
df = pd.DataFrame({
    "city": [
        random.choice(list(cities.keys()))
        for _ in range(n_measurements)
    ],
    "measured_value": [
        random.random() * random.random() * 1000
        for _ in range(n_measurements)
    ]
}).assign(
    real_value=lambda _df:
        _df.measured_value
        + _df.city.map(lambda c: cities[c] * random.random())
)

<div class="alert alert-success">

**In welcher Stadt gibt es die größte durchschnittliche Differenz zwischen den Spalten `measured_value` und `real_value`? Nutzen Sie bei Ermittlung `groupby`!**

**Sie können davon ausgehen, dass die Spalte `real_value` immer einen größeren Wert enthält als die Spalte `measured_value`.**
</div>

In [4]:
df

            city  measured_value  real_value
0        Spittal       57.915789   59.754776
1    Feldkirchen      356.634291  359.626551
2    Feldkirchen      433.249125  436.353648
3        Spittal      267.150695  268.632139
4    Feldkirchen      156.499601  158.323480
..           ...             ...         ...
995      Villach       59.969363   60.258230
996      Villach      133.680373  134.642902
997      Villach      604.166668  604.581978
998      Villach      407.534758  408.278798
999    Wolfsberg      121.065204  123.829179

[1000 rows x 3 columns]