In [1]:
import random
import pandas as pd

In [2]:
random.seed(1)
n_players = 1000
df = pd.DataFrame(
    {
        "player_id":
            pd.Series(range(1, n_players + 1)),
        "timezone":
            pd.Series(
                random.choice(range(-12, 13)) if random.random() < 0.90
                else int(random.random() * 100)
                for _ in range(n_players)
            ).map(lambda t: f"UTC{t}" if str(t)[0] == "-" else f"UTC+{t}")
    }
)

<div class="alert alert-success">

**Welche Werte in der Spalte `player_id` gehören zu einer Zeitzone in der `timezone`-Spalte, die nicht zwischen UTC-12 und UTC+12 liegt?**
</div>

In [3]:
df

     player_id timezone
0            1   UTC+12
1            2    UTC-9
2            3    UTC+2
3            4    UTC+0
4            5    UTC-9
..         ...      ...
995        996    UTC+7
996        997   UTC+11
997        998   UTC+92
998        999    UTC-5
999       1000    UTC+7

[1000 rows x 2 columns]