In [1]:
import random
import pandas as pd

In [2]:
random.seed(1)
id_numbers = list(range(1000))
for _ in range(int(random.random() * 50)):
    del id_numbers[random.choice(range(len(id_numbers)))]
df = pd.DataFrame(
    {
        "product_id":
            pd.Series(id_numbers)
            .map(lambda n: f"{n}_id_number"),
        "price":
            pd.Series(random.random() for _ in range(len(id_numbers))).round(2)
    }
)
del id_numbers

<div class="alert alert-success">

**Welche ID-Nummern scheinen in der `product_id`-Spalte in `df` zu fehlen?**
</div>

In [3]:
df

        product_id  price
0      0_id_number   0.50
1      1_id_number   0.45
2      2_id_number   0.65
3      3_id_number   0.79
4      4_id_number   0.09
..             ...    ...
989  995_id_number   0.54
990  996_id_number   0.44
991  997_id_number   0.76
992  998_id_number   0.84
993  999_id_number   0.23

[994 rows x 2 columns]