In [1]:
import random
import pandas as pd

In [2]:
cities = {
    "Villach": 1,
    "Klagenfurt": 2,
    "Spittal": 3,
    "Feldkirchen": 4,
    "Wolfsberg": 5
}
n_measurements = 1000

In [3]:
random.seed(1)
df = pd.DataFrame({
    "city": [
        random.choice(list(cities.keys()))
        for _ in range(n_measurements)
    ],
}).assign(
    value=lambda _df:
        [
            random.random()
            if random.random() < 1 - .05 * cities[_df.city.loc[i]]
            else pd.NA
            for i in range(len(_df))
        ]
)

<div class="alert alert-success">

**Wie viele fehlende Werte gibt es in der `value`-Spalte von `df` in den verschiedenen Städten? Nutzen Sie bei Ermittlung `groupby`!**
</div>

In [4]:
df

            city     value
0     Klagenfurt  0.992498
1      Wolfsberg      <NA>
2        Villach  0.746649
3        Spittal  0.942314
4        Villach  0.402575
..           ...       ...
995      Villach  0.511903
996   Klagenfurt  0.676765
997      Villach  0.589412
998    Wolfsberg      <NA>
999  Feldkirchen      <NA>

[1000 rows x 2 columns]